*.tar.gz
*.pt
LibriSpeech/

# Python general
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm specific
.idea/
*.iml
*.ipr
*.iws
.idea_modules/

# Logs
*.log

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db

# Byte-compiled Python / IPython
*.dll
*.pyd

# Testing
.tox/
.coverage
*.cover
.hypothesis/

# Jupyter Notebooks
.ipynb_checkpoints/

# System files
*.swp
*.swo
*~

# Temporary files
*.tmp
*.temp
*.bak
*.pid

# Coverage reports
htmlcov/

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.manifest
*.spec
pip-wheel-metadata/
__pypackages__/

# PyInstaller
*.manifest
*.spec

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Bandit
.bandit/

# Sphinx documentation
docs/_build/
